@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700italic,700);

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #141620;
    font-family: 'Roboto Condensed', sans-serif;
}

div, span, input, h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

#myForm {
    margin: 0 auto;
    color: #fff;
}

#myForm form {
    text-align: center;
}

.input-fields {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 30px;
    margin: 15px;
    padding: 15px 25px;
    color: #fff;
    font-size: 18px;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 30px;
    margin: 15px;
    padding: 15px 25px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.button-hover {
    display: block;
    margin: 0 auto;
}

#myContainer span {
    display: block;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #a8325b;
    padding: 15px 0;
}

#myContainer table {
    margin: 0 auto;
    padding: 8px;
    background-color: #141620;
    text-align: center;
}

#myContainer table tr {
    padding-top: 6px;
    vertical-align: top;
}

.tblCells td {
    background-color: #c12a39;
    border-radius: 100%;
    color: #fff;
    font-size: 0;
    font-weight: 400;
    border: 2px transparent;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
    cursor: pointer;
}

.cell-safe {
    opacity: 1 !important;
    background-color: #191724 !important;
    color: #333 !important;
    font-size: 18px !important;
}

.cell-safe-numb {
    opacity: 1 !important;
    background-color: #2b1a2a !important;
    color: #a8325b !important;
    font-size: 18px !important;
}

.cell-bomb {
    opacity: 1 !important;
    background-image: url(../img/bomb.png);
    background-size: 40px auto;
    background-position: 50% 50%;
    background-color: #2b1a2b !important;
    color: red !important;
    font-size: 0;
}

.cell-bomb-active {
    opacity: 1 !important;
    background-image: url(../img/bomb-active.png);
    background-size: 40px auto;
    background-position: 50% 50%;
    background-color: #2b1a2b !important;
    color: red !important;
    font-size: 0;
}

#gameStatus {
    width: 100%;
    position: absolute;
    top: 35%;
}

#gameStatus h1 {
    color: #fff;
    padding: 15px 0;
    font-size: 45px;

}

.game-over {
    text-align: center;
}

.flag-bomb {
    opacity: 1 !important;
    font-size: 18px;
    background-image: url(../img/flag.png);
    background-size: 40px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.stopwatch {
    color: #fff;
    font-size: 32px;
    margin: 15px auto;
    text-align: center;
}